site_name: MMDetection Documentation
site_description: OpenMMLab Detection Toolbox and Benchmark
site_author: MMDetection Contributors
site_url: https://georgepearse.github.io/visdet/

repo_name: georgepearse/visdet
repo_url: https://github.com/georgepearse/visdet
edit_uri: edit/master/mkdocs_docs/

docs_dir: mkdocs_docs
site_dir: site

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            members_order: source
            heading_level: 2

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quick-start.md
  - Tutorials:
    - Configuration: tutorials/config.md
    - Datasets: tutorials/customize_dataset.md
    - Models: tutorials/customize_models.md
    - Training: tutorials/training.md
  - API Reference:
    - Core: api/core.md
    - Models: api/models.md
    - Datasets: api/datasets.md
  - About:
    - Changelog: about/changelog.md
    - Contributing: about/contributing.md
    - License: about/license.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/georgepearse/visdet
  version:
    provider: mike
