# Mask R-CNN with Swin Transformer Small Backbone
#
# This is a complete, runnable model configuration preset.
# It uses _base_ and $ref to reuse existing component configs.

# Model definition
type: MaskRCNN

# Data preprocessor
data_preprocessor:
  type: DetDataPreprocessor
  mean: [123.675, 116.28, 103.53]
  std: [58.395, 57.12, 57.375]
  bgr_to_rgb: true
  pad_mask: true
  pad_size_divisor: 32

# Backbone: Swin Transformer Small
backbone:
  type: SwinTransformer
  embed_dims: 96
  depths: [2, 2, 18, 2]
  num_heads: [3, 6, 12, 24]
  window_size: 7
  mlp_ratio: 4
  qkv_bias: true
  qk_scale: null
  drop_rate: 0.0
  attn_drop_rate: 0.0
  drop_path_rate: 0.3
  patch_norm: true
  out_indices: [0, 1, 2, 3]
  with_cp: false
  convert_weights: true
  frozen_stages: -1

# Neck: Feature Pyramid Network
neck:
  type: FPN
  in_channels: [96, 192, 384, 768]
  out_channels: 256
  num_outs: 5

# RPN Head
rpn_head:
  type: RPNHead
  in_channels: 256
  feat_channels: 256
  anchor_generator:
    type: AnchorGenerator
    scales: [8]
    ratios: [0.5, 1.0, 2.0]
    strides: [4, 8, 16, 32, 64]
  bbox_coder:
    type: DeltaXYWHBBoxCoder
    target_means: [0.0, 0.0, 0.0, 0.0]
    target_stds: [1.0, 1.0, 1.0, 1.0]
  loss_cls:
    type: CrossEntropyLoss
    use_sigmoid: true
    loss_weight: 1.0
  loss_bbox:
    type: L1Loss
    loss_weight: 1.0

# RoI Head
roi_head:
  type: StandardRoIHead
  bbox_roi_extractor:
    type: SingleRoIExtractor
    roi_layer:
      type: RoIAlign
      output_size: 7
      sampling_ratio: 0
    out_channels: 256
    featmap_strides: [4, 8, 16, 32]
  bbox_head:
    type: Shared2FCBBoxHead
    in_channels: 256
    fc_out_channels: 1024
    roi_feat_size: 7
    bbox_coder:
      type: DeltaXYWHBBoxCoder
      target_means: [0.0, 0.0, 0.0, 0.0]
      target_stds: [0.1, 0.1, 0.2, 0.2]
    reg_class_agnostic: false
    loss_cls:
      type: CrossEntropyLoss
      use_sigmoid: false
      loss_weight: 1.0
    loss_bbox:
      type: L1Loss
      loss_weight: 1.0
  mask_roi_extractor:
    type: SingleRoIExtractor
    roi_layer:
      type: RoIAlign
      output_size: 14
      sampling_ratio: 0
    out_channels: 256
    featmap_strides: [4, 8, 16, 32]
  mask_head:
    type: FCNMaskHead
    num_convs: 4
    in_channels: 256
    conv_out_channels: 256
    loss_mask:
      type: CrossEntropyLoss
      use_mask: true
      loss_weight: 1.0

# Training configuration
train_cfg:
  rpn:
    assigner:
      type: MaxIoUAssigner
      pos_iou_thr: 0.7
      neg_iou_thr: 0.3
      min_pos_iou: 0.3
      match_low_quality: true
      ignore_iof_thr: -1
    sampler:
      type: RandomSampler
      num: 256
      pos_fraction: 0.5
      neg_pos_ub: -1
      add_gt_as_proposals: false
    allowed_border: -1
    pos_weight: -1
    debug: false
  rpn_proposal:
    nms_pre: 2000
    max_per_img: 1000
    nms:
      type: nms
      iou_threshold: 0.7
    min_bbox_size: 0
  rcnn:
    assigner:
      type: MaxIoUAssigner
      pos_iou_thr: 0.5
      neg_iou_thr: 0.5
      min_pos_iou: 0.5
      match_low_quality: true
      ignore_iof_thr: -1
    sampler:
      type: RandomSampler
      num: 512
      pos_fraction: 0.25
      neg_pos_ub: -1
      add_gt_as_proposals: true
    mask_size: 28
    pos_weight: -1
    debug: false

# Test configuration
test_cfg:
  rpn:
    nms_pre: 1000
    max_per_img: 1000
    nms:
      type: nms
      iou_threshold: 0.7
    min_bbox_size: 0
  rcnn:
    score_thr: 0.05
    nms:
      type: nms
      iou_threshold: 0.5
    max_per_img: 100
    mask_thr_binary: 0.5
