# RTMDet-Ins-L (COCO)

preset_meta:
  aliases: [rtmdet-ins-l]
  weights: https://download.openmmlab.com/mmdetection/v3.0/rtmdet/rtmdet-ins_l_8xb32-300e_coco/rtmdet-ins_l_8xb32-300e_coco_20221124_103237-78d1d652.pth
  img_scale: [640, 640]

type: RTMDet

data_preprocessor:
  type: DetDataPreprocessor
  mean: [103.53, 116.28, 123.675]
  std: [57.375, 57.12, 58.395]
  bgr_to_rgb: false
  pad_size_divisor: 32
  pad_mask: true

backbone:
  type: CSPNeXt
  arch: P5
  expand_ratio: 0.5
  deepen_factor: 1.0
  widen_factor: 1.0
  channel_attention: true
  norm_cfg:
    type: SyncBN
    requires_grad: true
  act_cfg:
    type: SiLU
    inplace: true

neck:
  type: CSPNeXtPAFPN
  in_channels: [256, 512, 1024]
  out_channels: 256
  num_csp_blocks: 3
  expand_ratio: 0.5
  norm_cfg:
    type: SyncBN
    requires_grad: true
  act_cfg:
    type: SiLU
    inplace: true

bbox_head:
  type: RTMDetInsSepBNHead
  num_classes: 80
  in_channels: 256
  stacked_convs: 2
  share_conv: true
  pred_kernel_size: 1
  feat_channels: 256
  anchor_generator:
    type: MlvlPointGenerator
    offset: 0
    strides: [8, 16, 32]
  bbox_coder:
    type: DistancePointBBoxCoder
  loss_cls:
    type: QualityFocalLoss
    use_sigmoid: true
    beta: 2.0
    loss_weight: 1.0
  loss_bbox:
    type: GIoULoss
    loss_weight: 2.0
  loss_mask:
    type: DiceLoss
    loss_weight: 2.0
    eps: 0.000005
    reduction: mean
  act_cfg:
    type: SiLU
    inplace: true
  norm_cfg:
    type: SyncBN
    requires_grad: true
  with_objectness: false

train_cfg:
  assigner:
    type: DynamicSoftLabelAssigner
    topk: 13
  allowed_border: -1
  pos_weight: -1
  debug: false

test_cfg:
  nms_pre: 1000
  min_bbox_size: 0
  score_thr: 0.05
  nms:
    type: nms
    iou_threshold: 0.6
  max_per_img: 100
  mask_thr_binary: 0.5
